.collection li.collection-item.avatar.car {
  padding-left: 5px;
}

.collection li.collection-item.avatar.car > .secondary-content {
  top: 10px;
  color: black;
  font-weight: bold;
}

.title {
  font-weight: bold;
}

.category-card.active {
  height: 500px;
}
